mixin directorName(obj)
  span.
    by&nbsp;<a href="#{obj.href}"><em>#{obj.name}</em></a>

mixin videoEmbed(url)
  .vid-wrapper
    .h-iframe
      img.card-image(src="http://pixelartmaker.com/art/00f9279d85a22b1.png")
      iframe(src=url frameborder="0" allowfullscreen)

mixin workshop(workshop, truncate)
 .card(class="#{truncate?'large-card':'small-card'}")
    a.movie(href="/workshop/#{workshop.slug}" style="cursor:pointer;")
      if workshop.display.image.url
        img.card-image(src=workshop._.display.image.crop(800,450)).img-responsive
      else if workshop.display.youtube
        +videoEmbed(workshop.display.youtube)
      else if workshop.display.vimeo
        +videoEmbed(workshop.display.vimeo)
    .card-content
      a(href="/workshop/#{workshop.slug}" style="cursor:pointer;")
        .card-title= workshop.title
      p.card-text.author by <a href="#{workshop.director.href}"><em>#{workshop.director.name}</em></a>
      div.description-text!= workshop.description
      if workshop.externalLink
        p.card-text <a href="#{workshop.externalLink}" target="_blank"><em>#{workshop.externalLink}</em></a>
      #share